@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("https://images.unsplash.com/photo-1447433819943-74a20887a81e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1375&q=80");
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    font-size: 1.6rem;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
}

.form-control {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 500px;
}

#resultado {
    height: 260px;
}

#expresion {
    margin-top: 10px;
}
input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
}